.what-about {
  width: 98%;
  position: absolute;
  background: #E74C3C;
  color: #FFFFFF;
}

h3 {
  padding: 0.4em;
  text-align: center;
  font-size: 2.4em;
  font-weight: 300;
  opacity: 0.8;
  background: rgba(0,0,0,0.1);
  border-radius: 3px 3px 0 0;
}

.instructions {
  display: block;
  width: 500px;
  margin: auto;
  /* list-style-type: decimal;   */
}

.instructions li {
  display: block;
  text-align: left;
  list-style-type: decimal;
}

.what-about-section {
  width: 600px;
  margin: auto;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 0 0 3px 3px;
}

.underlined {
  text-decoration: underline;
}

.got-it-button {
  font-size: 0.9em;
  padding: 0.5em 2em;
  margin: 22px;
  border-radius: 3px;
  background: #1F253D;
  color: #95A5A6;
  border: none;
}

.got-it-button:focus {
  outline: none;
}