.what-about {
  width: 98%;
  height: 96%;
  position: absolute;
  line-height: 2em;
  font-size: 1.2em;
  /* font-weight: 400; */
  background: #E74C3C;
  color: #FFFFFF;  
}

.what-about-section {
  width: 600px;
  margin: 130px auto;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 0 0 3px 3px;  
}

h3 {
  margin-bottom: 20px;
  padding: 0.4em;
  text-align: center;
  font-size: 2.2em;
  font-weight: 400;
  opacity: 0.8;
  background: rgba(0,0,0,0.1);
  border-radius: 3px 3px 0 0;
}

.instructions {
  display: block;
  width: 500px;
  margin: auto;
  /* list-style-type: decimal;   */
}

p {
  width: 518px;
  margin: auto;
  padding: 10px 20px;
}

p,
.instructions li {
  text-align: left;
  font-size: 1em;
}

.instructions li {
  display: block;
  width: 498px;
  padding: 2px 0;
  line-height: 1.6em;
  /* list-style-type: decimal; */
}

.underlined {
  text-decoration: underline;
}

.got-it-button {
  font-size: 0.8em;
  padding: 0.4em 1.9em;
  margin-bottom: 22px;
  background: #1F253D;
  cursor: pointer;
  color: #95A5A6;
  border: none;
  border-radius: 3px;
}

.got-it-button:focus {
  outline: none;
}